

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 360px;
  margin: auto;
  padding: 10px;
  background-color: aquamarine;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  padding: 15px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
}

span {
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button:disabled {
  cursor: default;
}
